<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 환경변수가 없으면 실행 위치의 logs 폴더 사용 -->
    <property name="LOG_PATH" value="${LOG_PATH:-logs}"/>

    <property
            name="LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{40} - %msg%n"/>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 전체 로그 -->
    <appender name="APPLICATION_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <!-- 날짜가 바뀌거나 50MB를 넘으면 새 파일 생성 -->
            <fileNamePattern>
                ${LOG_PATH}/archive/application.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>

            <maxFileSize>50MB</maxFileSize>

            <!-- 30일 보관 -->
            <maxHistory>30</maxHistory>

            <!-- 전체 압축 로그 최대 용량 -->
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- WARN, ERROR 전용 로그 -->
    <appender name="WARN_ERROR_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/warn-error.log</file>

        <!-- WARN 이상만 허용하므로 WARN과 ERROR가 기록됨 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/archive/warn-error.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>

            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION_FILE"/>
        <appender-ref ref="WARN_ERROR_FILE"/>
    </root>

</configuration>